<title>Twitter Visualizes the 2016 Election</title>
<!-- External CSS resources -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<!-- External JQuery resources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="javascript/jquery.js"></script>

<!-- External Bootstrap resources -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Provided by WebGL Globe -->
<script type="text/javascript" src="third-party/Three/ThreeWebGL.js"></script>
<script type="text/javascript" src="third-party/Three/ThreeExtras.js"></script>
<script type="text/javascript" src="third-party/Tween.js"></script>

<!-- Personal styling files -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<!-- Personal Globe rendering JS -->
<script type="text/javascript" src="javascript/renderGlobe.js"></script>
<script type="text/javascript" src="javascript/globe.js"></script>
