<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Web Election Globe</title>
  <meta charset="utf-8">
  <style type="text/css">
    html {
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      background: #000000 url('imgs/loading.gif') center center no-repeat;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 13px;
      line-height: 20px;
      height: 100%;
    }

    #info {
      background-color: rgba(0,0,0,0.3);
      font-size: 11px;
      position: absolute;
      bottom: 5px;
      border-radius: 3px;
      right: 10px;
      padding: 3px 10px 0 10px;
    }

    #currentInfo {
      width: 270px;
      position: absolute;
      left: 20px;
      top: 63px;
      border-top: 1px solid rgba(255,255,255,0.4);
      padding: 10px;
    }

    a {
      color: #aaa;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    .bull {
      padding: 0 5px;
      color: #555;
    }

    #title {
      position: absolute;
      top: 20px;
      min-width: 270px;
      left: 20px;
      border-radius: 3px;
      font: 27px serif;
      padding: 10px;
    }

    .tweet {
      display: none;
      font: 16px sans-serif;
      line-height: 26px;
      height: 20px;
      color: rgba(255, 255, 255, 0.4);
      padding-left: 7px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .tweet:hover, .tweet.active {
      font-size: 23px;
      color: #fff;
    }

  </style>

  <script type="text/javascript" src="third-party/Three/ThreeWebGL.js"></script>
  <script type="text/javascript" src="third-party/Three/ThreeExtras.js"></script>
  <script type="text/javascript" src="third-party/Three/RequestAnimationFrame.js"></script>
  <script type="text/javascript" src="third-party/Three/Detector.js"></script>
  <script type="text/javascript" src="third-party/Tween.js"></script>
  <script type="text/javascript" src="globe.js"></script>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      if(!Detector.webgl)
      {
        $('#noWebGL').css('visibility', 'visible');
        $('body').css('background', '#000000');
      } else
      {
        var colors = [0x00ff00, 0x0066ff, 0xe20800, 0xffdd00, 0];
        var globe = DAT.Globe($('#container')[0], function(label)
        {
          return new THREE.Color(colors[label]);
        });

        $('.tweet').show();

        $('.tweet').each(function(i)
        {
          var htmlcolor = colors[i].toString(16);
          htmlcolor = '000000'.substr(0, 6 - htmlcolor.length) + htmlcolor;
          $(this).css('border-left', '20px solid #'+htmlcolor);
          if (i < 4)
          {
            $(this).click(function()
            {
              displayData(i+1);
              $('.tweet').removeClass('active');
              $(this).addClass('active');
            });
          }
        });

        $('#sAll').click(function()
        {
          displayData(false);
          $('.tweet').removeClass('active');
        })

        function displayData(label)
        {
          globe.resetData();
          globe.addData(window.data, {format: 'legend', showLabel: label});
          globe.createPoints();
        }

        $.ajax({
          url: 'data.json',
          dataType: 'json',
          data: {},
          cache: false,
          success: function(data)
          {
            window.data = data;
            displayData(false);
            globe.animate();
            $('#sAll').html('Show all tweets('+(data.length/4)+')');
          },
          error: function(jqXHR, textStatus, errorThrown)
          {
            alert('Error downloading data: '+textStatus);
          }
        });
      }
    });
  </script>
</head>
<body>

  <div id="container"></div>

  <div id="info">
    Created by Thaovy Van <span class="bull">&bull;</span> Based on <strong><a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> <span
class="bull">&bull;</span> Data acquired from&nbsp;&nbsp;<a href="http://www.twitter.com" style="color: green; font-size: 14px;"></a>
  </div>

  <div id="currentInfo">
    <div id="sRun" class="tweet">#ImWithHer</div>
    <div id="sBike" class="tweet">#MakeAmericaGreatAgain</div>
    <div id="sAll" class="tweet">Show All</div>
  </div>

  <div id="title">
    Web globe for election tweets
  </div>

</body>
</html>
