<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>2016 Twitter Election Visualization</title>
  <meta charset="utf-8">
    <% include ../partials/header.ejs %>
</head>
<body>

  <div id="container"></div>

  <div id="info">
    Created by Thaovy Van <span class="bull">&bull;</span> Based on <a href="http://www.chromeexperiments.com/globe">WebGL Globe</a> <span
class="bull">&bull;</span> Data acquired from&nbsp;&nbsp;<a href="http://www.twitter.com">Twitter</a>
  </div>

  <div id="currentInfo">
    <div id="sHillary" class="tweet">#ImWithHer</div>
    <div id="sTrump" class="tweet">#MakeAmericaGreatAgain</div>
    <div id="sAll" class="tweet">Show All</div>
  </div>

  <div id="title">
    Visualize Election 2016 by Tweets
  </div>

</body>
</html>
